extends layout

block content
  p Hey, I'm Bryan. I recently graduated as a software engineering undergraduate. I mainly do application development and am currently trying to develop my skills in web dev. I'll mostly be using this site as a self-introduction, but I may sometimes post about interesting things I read or what I've learned from a project. 
  p I am currently looking for work - if you're interested you can view my #[a(href="#") resume] and my #[a(href="#") projects].
  
  h2 Blog
  p (Coming soon...)