doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div(class="container")
      header
        nav
          a(id="nav-title" href="#") Bryan Linebaugh
          div(id="nav-links")
            a(class="icon icon-github" href="#") Github
            a(class="icon icon-linkedin" href="#") LinkedIn
            a(class="icon icon-rss" href="#") RSS
      main
        div
          block content
        footer