.container {
  margin: 0 auto;
  max-width: 55em;
  padding: 4em 1em;
}

body {
  font-family: "Oxygen", "Helvetica", "Arial", sans-serif;
  line-height: 1.8;
  color: #615b5b;
  background: #fff;
}

header {
  margin: 0 0 2em 0;
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #333;
}

nav {
  display: block;
  border-bottom: 1px solid rgb(194, 193, 193);
  padding: 0em 0em 1em 0em;
}

#nav-title {
}

a {
  text-decoration: underline;
  color: #333;
}

#nav-title {
  font-size: 3em;
  font-family: "Tinos", "Helvetica", "Arial", sans-serif;
  color: rgb(22, 22, 22);
  text-decoration: none;
}

#nav-links {
  display: block;
  float: right;
  margin: 2em .5em 0 0;
}

.icon {
	text-indent: -1000vw;
	display: inline-block;
	vertical-align: middle;
	padding: 0 .5em 0 0;
	border: 0;
	margin: 0;
	width: 2em;
	height: 2em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-github {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20fill%3D%22%23444444%22%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M647%201200q4-6-3-13-9-7-14-2-4%206%203%2013%209%207%2014%202zm-28-41q-5-7-12-4-6%204%200%2012%207%208%2012%205%206-4%200-13zm-41-40q2-4-5-8-7-2-8%202-3%205%204%208%208%202%209-2zm21%2023q2-1%201.5-4.5t-3.5-5.5q-6-7-10-3t1%2011q6%206%2011%202zm86%2075q2-7-9-11-9-3-13%204-2%207%209%2011%209%203%2013-4zm42%203q0-8-12-8-10%200-10%208t11%208%2011-8zm39-7q-2-7-13-5t-9%209q2%208%2012%206t10-10zm642-317q0-212-150-362t-362-150-362%20150-150%20362q0%20167%2098%20300.5t252%20185.5q18%203%2026.5-5t8.5-20q0-52-1-95-6%201-15.5%202.5t-35.5%202-48-4-43.5-20-29.5-41.5q-23-59-57-74-2-1-4.5-3.5l-8-8-7-9.5%204-7.5%2019.5-3.5q6%200%2015%202t30%2015.5%2033%2035.5q16%2028%2037.5%2042t43.5%2014%2038-3.5%2030-9.5q7-47%2033-69-49-6-86-18.5t-73-39-55.5-76-19.5-119.5q0-79%2053-137-24-62%205-136%2019-6%2054.5%207.5t60.5%2029.5l26%2016q58-17%20128-17t128%2017q11-7%2028.5-18t55.5-26%2057-9q29%2074%205%20136%2053%2058%2053%20137%200%2057-14%20100.5t-35.5%2070-53.5%2044.5-62.5%2026-68.5%2012q35%2031%2035%2095%200%2040-.5%2089t-.5%2051q0%2012%208.5%2020t26.5%205q154-52%20252-185.5t98-300.5zm256-480v960q0%20119-84.5%20203.5t-203.5%2084.5h-960q-119%200-203.5-84.5t-84.5-203.5v-960q0-119%2084.5-203.5t203.5-84.5h960q119%200%20203.5%2084.5t84.5%20203.5z%22%2F%3E%3C%2Fsvg%3E");
}

.icon-linkedin {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20fill%3D%22%23444444%22%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M365%201414h231v-694h-231v694zm246-908q-1-52-36-86t-93-34-94.5%2034-36.5%2086q0%2051%2035.5%2085.5t92.5%2034.5h1q59%200%2095-34.5t36-85.5zm585%20908h231v-398q0-154-73-233t-193-79q-136%200-209%20117h2v-101h-231q3%2066%200%20694h231v-388q0-38%207-56%2015-35%2045-59.5t74-24.5q116%200%20116%20157v371zm468-998v960q0%20119-84.5%20203.5t-203.5%2084.5h-960q-119%200-203.5-84.5t-84.5-203.5v-960q0-119%2084.5-203.5t203.5-84.5h960q119%200%20203.5%2084.5t84.5%20203.5z%22%2F%3E%3C%2Fsvg%3E");
}

.icon-rss {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20fill%3D%22%23444444%22%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M640%201280q0-53-37.5-90.5t-90.5-37.5-90.5%2037.5-37.5%2090.5%2037.5%2090.5%2090.5%2037.5%2090.5-37.5%2037.5-90.5zm351%2094q-13-233-176.5-396.5t-396.5-176.5q-14-1-24%209t-10%2023v128q0%2013%208.5%2022t21.5%2010q154%2011%20264%20121t121%20264q1%2013%2010%2021.5t22%208.5h128q13%200%2023-10t9-24zm384%201q-5-154-56-297.5t-139.5-260-205-205-260-139.5-297.5-56q-14-1-23%209-10%2010-10%2023v128q0%2013%209%2022t22%2010q204%207%20378%20111.5t278.5%20278.5%20111.5%20378q1%2013%2010%2022t22%209h128q13%200%2023-10%2011-9%209-23zm289-959v960q0%20119-84.5%20203.5t-203.5%2084.5h-960q-119%200-203.5-84.5t-84.5-203.5v-960q0-119%2084.5-203.5t203.5-84.5h960q119%200%20203.5%2084.5t84.5%20203.5z%22%2F%3E%3C%2Fsvg%3E");
}

